kind: Deployment
apiVersion: apps/v1
metadata:
  name: backend-deployment
  namespace: chatapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: chatapp-backend
          image: parag3108/chatapp-backend:latest
          ports:
            - containerPort: 5001
          env:
            - name: Node_ENV
              value: "production"
            - name: MONGODB_URI
              value: "mongodb://mongoadmin:secret@mongodb:27017/dbname?authSource=admin"
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: chatapp-secret
                  key: JWT_SECRET
            - name: PORT
              value: "5001"